body {
    font-family: "Arial","Meiryo",sans-serif;
}
html {
    font-size: 20px;
    text-align: center;
}
.blue {
    color: skyblue;
}
.pink {
    color: rgb(255,192,203)
}
h1 {
    font-family: "Josefin sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 3px 3px 5px gray;
    border-bottom: solid 3px rgb(115, 115, 114)
}
#basic p {
    font-weight: bold;
}